*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /*font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Anton', sans-serif;*/
}
a, li{
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #fff;
}

h3,span{
    color: #afafaf;
    font-size: 22px;
    text-transform: uppercase;
}
body{
    width: 100%;
    margin: 0 auto;
} 
.show{
    display: flex;

}
.hide{
    display: none;
}
.main-header{
    margin-top: 23px;
}
.top-header{
    display: flex;
    justify-content: space-around;
}
.search{
    padding-top: 6px;
}
.search img{
    position: absolute;
    align-items: center;
    top: 33px;
    right: 35%;
    cursor: pointer;
}
.header-search{
    width: 436px;
    height: 32px;
    position: relative;
    border: 1px solid #e1e1e1;
    color: #afafaf;
    padding-left: 6px;

}
.header-card span{
    color: #a1a1a1;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    
}
#btn-menu{
    color: #a1a1a1;
    padding-left: 9px;
    display: none;
}

.header-nav{
    position: absolute;
    z-index: 3;
    width: 100%;
    transition: all 0.5s;
    
}
.main-menu{
    background: #4ccfc1;
    margin-top: 24px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    
}
.main-menu ul{
    display: flex;
    justify-content: space-around;
    padding: 9px 87px 9px 106px;
}
.main-menu ul li{
    border-right: 2px solid #fff;
    padding-right: 6px;
    font-size: 19px;
}
.main-menu ul li:last-child{
    border-right: none;
}
.item{
    padding: 67px 0 ;
    display: flex;
    background: #39beba;
}
  .slider-img  { 
     padding-left: 125px;
    padding-right: 100px; 
    width: auto !important;
}
.slider-img-2{
    padding: 0 !important;
}
.owl-dots{
    position: absolute;
    left: 40%;
    bottom: 0;
}
.slider{
    position: relative;
    margin-top: 65px;
}
.slider-text{
    width: 400px;
    color: #fff;

}
.slider-text h1{
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}
.slider-text p{
    font-size: 20px;
    margin-top: 25px;
    
}
.slider-btn{
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
}
.slider-btn:hover{
    color: #4ccfc1;
    background: #fff;
    transition: 0.5s ease all;
    border-radius: 11px;
    
}
.slider-width{
    width: 82%;
    margin: 0 auto;
    height: 190px;
    
    
   
}
.slider-mini{
    height: 190px;
    margin-bottom: 1px;
    position: relative;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.5);
  
}

.mini-slider{
    background-color: #fff;
    /* border-left: 1px solid #afafaf;
    border-right: 1px solid #afafaf; */
    padding: 15px 0 0 0 !important;
    
}
.mini-slider img{
    width: auto !important;
}
.slider-two{
    border: none;
    padding-left: 15px;
    border-left: 1px solid #afafaf;
    border-right: 1px solid #afafaf; 

}
.slider-two h3{
    padding-left: 69px;
}
.desc{
    color: #afafaf;
    font-size: 22px;
    text-transform: uppercase;
    padding: 11px 2px;

}
.slider-third img{
    padding: 7px 42px 3px 15px;
}
.slider-third h3{
    padding-left: 44px;
}
.slider-two input{
    margin:12px 0 0 72px;
    color: #fff;
    font-size: 17px;
    background: #3cc395;
    border: none;
    border-radius: 5px;
    padding: 9px 14px;
    text-transform: uppercase;
}
.slider-third input {
    margin:12px 0 0 44px;
    color: #fff;
    font-size: 17px;
    background: #3cc395;
    border: none;
    border-radius: 5px;
    padding: 9px 14px;
    text-transform: uppercase; 
}

.slider-first input{
    margin:12px 0 0 0px;
    color: #fff;
    font-size: 17px;
    background: #3cc395;
    border: none;
    border-radius: 5px;
    padding: 9px 14px;
    text-transform: uppercase;

}
.owl-nav{
    position: absolute !important;
    top: 10px;
}
.owl-prev{
    
       
        right: 50px !important;
        position: absolute;
        width: 26px;
        font-size: 15px;
        height: 12px;
}
.owl-prev span{
    font-size: 90px;
    color: #e5e5e5;
}
.owl-prev:hover{
    background: #fff !important;

}
.owl-next{
    left: 71em !important;
        position: absolute;
        width: 26px;
        font-size: 15px;
        height: 12px;
}
.owl-next span{
    font-size: 90px;
    color: #e5e5e5;
}
.owl-next:hover{
    background: #fff !important;

}
.featured-Products{
    width: 100%;
    height: 54px;
    background: #39beba;
    margin-bottom: 35px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.featured-Products h1{
    padding: 11px 0 10px 70px;
    
}
.products{
    margin-bottom: 55px;
    width: 66%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    height: 594px;

}
.brand{
    border: 1px solid #a1a1a1;
     border-bottom: 3px solid #4ccfc1; 
    width: 255px;
    height: 255px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
}
.brand img{
    display: block;
    margin: 0 auto;
}
.brand h3{
    text-align: center;
    margin-top: 8px;
}
.brand span{
    text-align: center;
    margin-right: 9px;
    margin-left: 42px;
}
.brand input{
    margin:12px 0 0 0px;
    color: #fff;
    font-size: 17px;
    background: #3cc395;
    border: none;
    border-radius: 5px;
    padding: 9px 14px;
    text-transform: uppercase;
    cursor: pointer;
    
}
.brand:hover{
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
    transition: .5s ease all;
}
footer{
    background: #3cc3b5;
    padding-top: 40px;
}
.footer-categoria{
    margin: 0 auto;
    width: 66%;
    color: #fff;
    display: flex;
    justify-content: space-between;

}
.footer-categoria h2{
    margin-bottom: 15px;
    text-transform: uppercase;
}
.footer-categoria ul li a{
    text-transform: none;
    
   

}
.footer-categoria ul li{
    margin-bottom: 10px;
}
.footer-categoria ul li a:hover{
    text-decoration: underline;
}

.real-footer{
    width: 100%;
    height: 45px;
    background: #2da89b;
    text-align: center;
    color: #fff;
    padding-top: 15px;

}
  






































/* Ipad-Pro */
@media screen and (max-width: 1024px){
    .header-search{
        width: 328px;
        padding-left: 6px;
    
    }
    .main-menu ul li{
        padding-right: 5px;
        font-size: 14px;
    }
    .main-menu{
        width: 100%;
        
    }
}

/* Ipad */

@media screen and (max-width: 768px){
    .header-search{
        width: 259px;
    
    }
}
@media screen and (max-width: 425px){
    .top-header{
        display: block;
        
    }
    .header-card{
        float: right;
        margin-top: 9px;
        
    }
    .search{
        float: left;
        margin-top: 5px;
    }
    .search img{
        top: 87px;
    }
    .header-card img{
        width: 27px;
        height: 23px;
    }
    .header-card span{
        font-size: 25px;
        
    }
    .logo{
       width: 123px;
       margin: 0 auto;
    }
}
@media screen and (max-width: 414px){
    #btn-menu{
        display: inline-block;
       }
       .header-search{
        width: 325px;
    
    }
    .header-card{
        display: none;
        
    }
    .search img{
        right: 18%;
    }
    .main-menu ul{
        display: block;
        padding: 9px 6px 14px 6px;
    }
    .main-menu ul li{
        border-right: none;
        border-bottom: 1px solid #fff;
        padding-right: 6px;
        font-size: 19px;
    }
    .main-menu ul li:last-child{
        border-bottom: none;
    }
    .header-nav{
        position: static;
        z-index: 3;
        margin-top: 50px;
    }
}
@media screen and (max-width: 375px){
    .search img{
        top: 87px;
        right: 16%;
    }
    .search img{
        top: 87px;
        right: 16%;
    }
    .header-search{
        width: 304px;
    
    }
    .header-nav{
        display: none;
        margin-top: 50px;
    }

}
@media screen and (max-width: 320px){
    .main-header{
        margin-top: 23px;
    }
    .logo{
        width: 123px;
        margin: 0 auto;
     }
     .top-header{
        display: block;
        
    }
    .search img{
        top: 87px;
        right: 16%;
    }
    .header-search{
        width: 259px;
    
    }
    #btn-menu{
     display: inline-block;
     
    }
    .main-menu ul{
        display: block;
        padding: 9px 0px 14px 6px;
        transition: top 1s ease-out 0.5s;
    }
    .main-menu ul li:last-child{
        border-bottom: none;
    }
    .header-nav{
        display: none;
        margin-top: 50px;
        transition: all 0.5s ease;
    }
    .main-menu ul li{
        border-right: none;
        border-bottom: 1px solid #fff;
        padding-right: 6px;
        font-size: 19px;
        transition: top 1s ease-out 0.5s;
    }
    .mini-slider img{
        width: auto !important;
    }
    .slider-img  { 
        padding-left: 11px;
       padding-right: 24px; 
       width: 126px !important;
       height: 126px;
   }
   .item{
    padding: 67px 0 ;
    display: flex;
    background: #39beba;
}
.slider{
    position: relative;
    margin-top: 65px;
}
.slider-text{
    width: 400px;
    color: #fff;

}
.slider-text h1{
    font-size: 26px;
 
}
.slider-text p{
    font-size: 15px;
    margin-top: 12px;
    
}
.slider-btn{
    padding: 8px 14px;
    margin-top: 19px;
    font-size: 15px;
}
    
}


